In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/number-of-species-in-each-iucn-red-list-category/Species.csv

#  **Import**

In [2]:
import pandas as pd
df = pd.read_csv('/kaggle/input/number-of-species-in-each-iucn-red-list-category/Species.csv')
pd.set_option('max_rows',70)
df

,Name,EX,EW,Subtotal (EX+EW),CR(PE),CR(PEW),Subtotal (EX+EW+ CR(PE)+CR(PEW)),CR,EN,VU,Subtotal (threatened spp.),LR/cd,NT or LR/nt,LC or LR/lc,DD,Total
0,ACTINOPTERYGII,79,10,89,122,6,217,626,"1,000","1,241","2,867",0,630,"13,064","4,356","21,006"
1,AMPHIBIA,35,2,37,146,1,184,663,"1,060",721,"2,444",0,421,"3,129","1,184","7,215"
2,ANTHOZOA,0,0,0,1,0,1,6,26,202,234,0,175,293,166,868
3,ARACHNIDA,9,0,9,21,0,30,68,88,62,218,0,20,91,55,393
4,ASTEROIDEA,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
5,AVES,159,5,164,22,0,186,223,460,798,"1,481",0,"1,001","8,460",52,"11,158"
6,BIVALVIA,32,0,32,15,0,47,83,68,60,211,4,56,339,170,812
7,BRANCHIOPODA,0,0,0,0,0,0,8,13,22,43,1,1,1,1,47
8,CEPHALASPIDOMORPHI,1,0,1,1,0,2,2,4,2,8,0,3,22,3,37
9,CEPHALOPODA,0,0,0,0,0,0,1,2,2,5,0,2,324,419,750
10,CHILOPODA,0,0,0,2,0,2,3,5,1,9,0,0,1,0,10
11,CHONDRICHTHYES,0,0,0,3,0,3,89,124,180,393,0,124,534,172,"1,223"
12,CLITELLATA,2,0,2,4,0,6,6,13,8,27,0,12,74,107,222
13,COLLEMBOLA,0,0,0,2,0,2,2,0,2,4,0,4,0,1,9
14,DIPLOPODA,3,0,3,4,0,7,35,32,15,82,0,65,52,41,243
15,ECHINOIDEA,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
16,ENOPLA,1,0,1,1,0,2,1,1,1,3,0,0,1,1,6
17,GASTROPODA,267,14,281,134,2,417,617,526,980,"2,123",0,649,"2,668","1,649","7,370"
18,HEXANAUPLIA,1,0,1,0,0,1,1,0,24,25,8,0,0,3,37
19,HOLOTHUROIDEA,0,0,0,0,0,0,0,7,9,16,0,0,111,244,371
20,HYDROZOA,0,0,0,1,0,1,1,2,2,5,0,1,8,2,16
21,INSECTA,63,1,64,77,0,141,368,741,850,"1,959",3,652,"5,841","2,961","11,480"
22,MALACOSTRACA,7,1,8,18,1,27,141,161,309,611,0,71,"1,199","1,130","3,019"
23,MAMMALIA,85,2,87,28,0,115,226,546,555,"1,327",0,371,"3,324",845,"5,954"
24,MAXILLOPODA,1,0,1,0,0,1,6,0,47,53,0,0,0,19,73
25,MEROSTOMATA,0,0,0,0,0,0,0,1,1,2,0,0,0,2,4
26,MONOPLACOPHORA,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
27,MYXINI,0,0,0,0,0,0,1,2,6,9,0,2,35,30,76
28,OSTRACODA,2,0,2,0,0,2,2,0,9,11,0,0,0,0,13
29,POLYCHAETA,0,0,0,0,0,0,1,0,0,1,0,0,0,1,2
30,POLYPLACOPHORA,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1
31,REPTILIA,32,2,34,44,0,78,368,658,561,"1,587",2,497,"5,715","1,297","9,132"
32,SARCOPTERYGII,0,0,0,0,0,0,1,1,1,3,0,0,4,0,7
33,TURBELLARIA,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1
34,UDEONYCHOPHORA,0,0,0,0,0,0,3,2,4,9,0,1,0,1,11
35,PHAEOPHYCEAE,0,0,0,4,0,4,4,1,1,6,0,0,0,9,15
36,AGARICOMYCETES,0,0,0,2,0,2,12,60,113,185,0,48,154,37,424
37,ARTHONIOMYCETES,0,0,0,0,0,0,0,3,0,3,0,0,0,0,3
38,DOTHIDEOMYCETES,0,0,0,0,0,0,1,0,1,2,0,0,0,0,2
39,EUROTIOMYCETES,0,0,0,0,0,0,0,0,2,2,0,0,1,3,6
40,GEOGLOSSOMYCETES,0,0,0,0,0,0,0,0,2,2,0,1,0,1,4
41,LECANOROMYCETES,0,0,0,0,0,0,12,28,15,55,0,1,19,0,75
42,LEOTIOMYCETES,0,0,0,0,0,0,0,1,1,2,0,1,4,1,8
43,NOT ASSIGNED,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1
44,PEZIZOMYCETES,0,0,0,0,0,0,1,1,3,5,0,4,1,2,12
45,SORDARIOMYCETES,0,0,0,0,0,0,2,0,1,3,0,0,1,3,7
46,USTILAGINOMYCETES,0,0,0,0,0,0,0,0,2,2,0,0,1,0,3
47,ANDREAEOPSIDA,0,0,0,0,0,0,0,1,1,2,0,0,0,1,3
48,ANTHOCEROTOPSIDA,0,0,0,0,0,0,0,2,0,2,0,0,0,0,2
49,BRYOPSIDA,4,0,4,0,0,4,24,36,33,93,0,22,35,17,171
50,CHAROPHYACEAE,0,0,0,0,0,0,0,0,0,0,0,0,11,3,14
51,CHLOROPHYCEAE,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
52,CYCADOPSIDA,0,4,4,0,4,8,53,65,74,192,0,63,45,3,307
53,FLORIDEOPHYCEAE,1,0,1,2,0,3,6,0,3,9,0,0,4,44,58
54,GINKGOOPSIDA,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1
55,GNETOPSIDA,0,0,0,0,0,0,0,1,4,5,0,7,76,10,98
56,JUNGERMANNIOPSIDA,0,0,0,0,0,0,12,23,20,55,0,10,18,2,85
57,LILIOPSIDA,13,7,20,78,12,110,708,"1,327","1,061","3,096",9,472,"3,758",924,"8,279"
58,LYCOPODIOPSIDA,0,0,0,2,0,2,14,12,16,42,0,9,42,12,105
59,MAGNOLIOPSIDA,102,31,133,417,29,579,"3,904","7,352","7,294","18,550",143,"2,592","21,122","3,326","45,866"
60,MARCHANTIOPSIDA,0,0,0,0,0,0,2,3,2,7,0,1,1,4,13
61,PINOPSIDA,0,0,0,1,0,1,29,96,80,205,0,99,298,8,610
62,POLYPODIOPSIDA,2,1,3,8,0,11,66,88,84,238,0,37,265,80,623
63,POLYTRICHOPSIDA,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
64,SPHAGNOPSIDA,0,0,0,0,0,0,1,2,2,5,0,0,1,0,6
65,TAKAKIOPSIDA,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1
66,ULVOPHYCEAE,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
67,Total,902,80,982,"1,160",55,"2,197","8,404","14,647","15,492","38,543",170,"8,127","71,148","19,404","1,38,374"

# **Examining the first and last five rows in the dataset**

In [3]:
# Examining the FIRST five rows

df.head(10)

,Name,EX,EW,Subtotal (EX+EW),CR(PE),CR(PEW),Subtotal (EX+EW+ CR(PE)+CR(PEW)),CR,EN,VU,Subtotal (threatened spp.),LR/cd,NT or LR/nt,LC or LR/lc,DD,Total
0,ACTINOPTERYGII,79,10,89,122,6,217,626,"1,000","1,241","2,867",0,630,"13,064","4,356","21,006"
1,AMPHIBIA,35,2,37,146,1,184,663,"1,060",721,"2,444",0,421,"3,129","1,184","7,215"
2,ANTHOZOA,0,0,0,1,0,1,6,26,202,234,0,175,293,166,868
3,ARACHNIDA,9,0,9,21,0,30,68,88,62,218,0,20,91,55,393
4,ASTEROIDEA,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
5,AVES,159,5,164,22,0,186,223,460,798,"1,481",0,"1,001","8,460",52,"11,158"
6,BIVALVIA,32,0,32,15,0,47,83,68,60,211,4,56,339,170,812
7,BRANCHIOPODA,0,0,0,0,0,0,8,13,22,43,1,1,1,1,47
8,CEPHALASPIDOMORPHI,1,0,1,1,0,2,2,4,2,8,0,3,22,3,37
9,CEPHALOPODA,0,0,0,0,0,0,1,2,2,5,0,2,324,419,750

In [4]:
#Examining the LAST five rows

df.tail(10)

,Name,EX,EW,Subtotal (EX+EW),CR(PE),CR(PEW),Subtotal (EX+EW+ CR(PE)+CR(PEW)),CR,EN,VU,Subtotal (threatened spp.),LR/cd,NT or LR/nt,LC or LR/lc,DD,Total
58,LYCOPODIOPSIDA,0,0,0,2,0,2,14,12,16,42,0,9,42,12,105
59,MAGNOLIOPSIDA,102,31,133,417,29,579,"3,904","7,352","7,294","18,550",143,"2,592","21,122","3,326","45,866"
60,MARCHANTIOPSIDA,0,0,0,0,0,0,2,3,2,7,0,1,1,4,13
61,PINOPSIDA,0,0,0,1,0,1,29,96,80,205,0,99,298,8,610
62,POLYPODIOPSIDA,2,1,3,8,0,11,66,88,84,238,0,37,265,80,623
63,POLYTRICHOPSIDA,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
64,SPHAGNOPSIDA,0,0,0,0,0,0,1,2,2,5,0,0,1,0,6
65,TAKAKIOPSIDA,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1
66,ULVOPHYCEAE,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
67,Total,902,80,982,"1,160",55,"2,197","8,404","14,647","15,492","38,543",170,"8,127","71,148","19,404","1,38,374"

# **General Stats**

In [5]:
df.shape #NO parenthesis
# 68 rows, 16 columns

(68, 16)

In [6]:
df.describe()

               EX         EW  Subtotal (EX+EW)    CR(PEW)       LR/cd
count   68.000000  68.000000         68.000000  68.000000   68.000000
mean    26.529412   2.352941         28.882353   1.617647    5.000000
std    115.498203  10.499132        125.477539   7.619749   26.716868
min      0.000000   0.000000          0.000000   0.000000    0.000000
25%      0.000000   0.000000          0.000000   0.000000    0.000000
50%      0.000000   0.000000          0.000000   0.000000    0.000000
75%      2.000000   0.000000          2.250000   0.000000    0.000000
max    902.000000  80.000000        982.000000  55.000000  170.000000

# **Cleaning The Data**

In [7]:
# Checking for null values

df.isna().sum()

# None present

Name                                0
EX                                  0
EW                                  0
Subtotal (EX+EW)                    0
CR(PE)                              0
CR(PEW)                             0
Subtotal (EX+EW+ CR(PE)+CR(PEW))    0
CR                                  0
EN                                  0
VU                                  0
Subtotal (threatened spp.)          0
LR/cd                               0
NT or LR/nt                         0
LC or LR/lc                         0
DD                                  0
Total                               0
dtype: int64

In [8]:
df = df.drop_duplicates()

# **Subsetting Data**

In [9]:
df.columns

Index(['Name', 'EX', 'EW', 'Subtotal (EX+EW)', 'CR(PE)', 'CR(PEW)',
       'Subtotal (EX+EW+ CR(PE)+CR(PEW))', 'CR', 'EN', 'VU',
       'Subtotal (threatened spp.)', 'LR/cd', 'NT or LR/nt', 'LC or LR/lc',
       'DD', 'Total'],
      dtype='object')

In [10]:
df['Name']

0         ACTINOPTERYGII
1               AMPHIBIA
2               ANTHOZOA
3              ARACHNIDA
4             ASTEROIDEA
5                   AVES
6               BIVALVIA
7           BRANCHIOPODA
8     CEPHALASPIDOMORPHI
9            CEPHALOPODA
10             CHILOPODA
11        CHONDRICHTHYES
12            CLITELLATA
13            COLLEMBOLA
14             DIPLOPODA
15            ECHINOIDEA
16                ENOPLA
17            GASTROPODA
18           HEXANAUPLIA
19         HOLOTHUROIDEA
20              HYDROZOA
21               INSECTA
22          MALACOSTRACA
23              MAMMALIA
24           MAXILLOPODA
25           MEROSTOMATA
26        MONOPLACOPHORA
27                MYXINI
28             OSTRACODA
29            POLYCHAETA
30        POLYPLACOPHORA
31              REPTILIA
32         SARCOPTERYGII
33           TURBELLARIA
34        UDEONYCHOPHORA
35          PHAEOPHYCEAE
36        AGARICOMYCETES
37       ARTHONIOMYCETES
38       DOTHIDEOMYCETES
39        EUROTIOMYCETES
40      GEOGLOSSOMYCETES
41       LECANOROMYCETES
42         LEOTIOMYCETES
43          NOT ASSIGNED
44         PEZIZOMYCETES
45       SORDARIOMYCETES
46     USTILAGINOMYCETES
47         ANDREAEOPSIDA
48      ANTHOCEROTOPSIDA
49             BRYOPSIDA
50         CHAROPHYACEAE
51         CHLOROPHYCEAE
52           CYCADOPSIDA
53       FLORIDEOPHYCEAE
54          GINKGOOPSIDA
55            GNETOPSIDA
56     JUNGERMANNIOPSIDA
57            LILIOPSIDA
58        LYCOPODIOPSIDA
59         MAGNOLIOPSIDA
60       MARCHANTIOPSIDA
61             PINOPSIDA
62        POLYPODIOPSIDA
63       POLYTRICHOPSIDA
64          SPHAGNOPSIDA
65          TAKAKIOPSIDA
66           ULVOPHYCEAE
67                 Total
Name: Name, dtype: object

In [11]:
df.loc[:,'Name']

0         ACTINOPTERYGII
1               AMPHIBIA
2               ANTHOZOA
3              ARACHNIDA
4             ASTEROIDEA
5                   AVES
6               BIVALVIA
7           BRANCHIOPODA
8     CEPHALASPIDOMORPHI
9            CEPHALOPODA
10             CHILOPODA
11        CHONDRICHTHYES
12            CLITELLATA
13            COLLEMBOLA
14             DIPLOPODA
15            ECHINOIDEA
16                ENOPLA
17            GASTROPODA
18           HEXANAUPLIA
19         HOLOTHUROIDEA
20              HYDROZOA
21               INSECTA
22          MALACOSTRACA
23              MAMMALIA
24           MAXILLOPODA
25           MEROSTOMATA
26        MONOPLACOPHORA
27                MYXINI
28             OSTRACODA
29            POLYCHAETA
30        POLYPLACOPHORA
31              REPTILIA
32         SARCOPTERYGII
33           TURBELLARIA
34        UDEONYCHOPHORA
35          PHAEOPHYCEAE
36        AGARICOMYCETES
37       ARTHONIOMYCETES
38       DOTHIDEOMYCETES
39        EUROTIOMYCETES
40      GEOGLOSSOMYCETES
41       LECANOROMYCETES
42         LEOTIOMYCETES
43          NOT ASSIGNED
44         PEZIZOMYCETES
45       SORDARIOMYCETES
46     USTILAGINOMYCETES
47         ANDREAEOPSIDA
48      ANTHOCEROTOPSIDA
49             BRYOPSIDA
50         CHAROPHYACEAE
51         CHLOROPHYCEAE
52           CYCADOPSIDA
53       FLORIDEOPHYCEAE
54          GINKGOOPSIDA
55            GNETOPSIDA
56     JUNGERMANNIOPSIDA
57            LILIOPSIDA
58        LYCOPODIOPSIDA
59         MAGNOLIOPSIDA
60       MARCHANTIOPSIDA
61             PINOPSIDA
62        POLYPODIOPSIDA
63       POLYTRICHOPSIDA
64          SPHAGNOPSIDA
65          TAKAKIOPSIDA
66           ULVOPHYCEAE
67                 Total
Name: Name, dtype: object

In [12]:
df[['Name','EX']]

                  Name   EX
0       ACTINOPTERYGII   79
1             AMPHIBIA   35
2             ANTHOZOA    0
3            ARACHNIDA    9
4           ASTEROIDEA    0
5                 AVES  159
6             BIVALVIA   32
7         BRANCHIOPODA    0
8   CEPHALASPIDOMORPHI    1
9          CEPHALOPODA    0
10           CHILOPODA    0
11      CHONDRICHTHYES    0
12          CLITELLATA    2
13          COLLEMBOLA    0
14           DIPLOPODA    3
15          ECHINOIDEA    0
16              ENOPLA    1
17          GASTROPODA  267
18         HEXANAUPLIA    1
19       HOLOTHUROIDEA    0
20            HYDROZOA    0
21             INSECTA   63
22        MALACOSTRACA    7
23            MAMMALIA   85
24         MAXILLOPODA    1
25         MEROSTOMATA    0
26      MONOPLACOPHORA    0
27              MYXINI    0
28           OSTRACODA    2
29          POLYCHAETA    0
30      POLYPLACOPHORA    0
31            REPTILIA   32
32       SARCOPTERYGII    0
33         TURBELLARIA    1
34      UDEONYCHOPHORA    0
35        PHAEOPHYCEAE    0
36      AGARICOMYCETES    0
37     ARTHONIOMYCETES    0
38     DOTHIDEOMYCETES    0
39      EUROTIOMYCETES    0
40    GEOGLOSSOMYCETES    0
41     LECANOROMYCETES    0
42       LEOTIOMYCETES    0
43        NOT ASSIGNED    0
44       PEZIZOMYCETES    0
45     SORDARIOMYCETES    0
46   USTILAGINOMYCETES    0
47       ANDREAEOPSIDA    0
48    ANTHOCEROTOPSIDA    0
49           BRYOPSIDA    4
50       CHAROPHYACEAE    0
51       CHLOROPHYCEAE    0
52         CYCADOPSIDA    0
53     FLORIDEOPHYCEAE    1
54        GINKGOOPSIDA    0
55          GNETOPSIDA    0
56   JUNGERMANNIOPSIDA    0
57          LILIOPSIDA   13
58      LYCOPODIOPSIDA    0
59       MAGNOLIOPSIDA  102
60     MARCHANTIOPSIDA    0
61           PINOPSIDA    0
62      POLYPODIOPSIDA    2
63     POLYTRICHOPSIDA    0
64        SPHAGNOPSIDA    0
65        TAKAKIOPSIDA    0
66         ULVOPHYCEAE    0
67               Total  902

In [13]:
new_df = df[['Name','LC or LR/lc' ,'VU', 'EN', 'CR', 'EX']]
new_df

                  Name LC or LR/lc      VU      EN     CR   EX
0       ACTINOPTERYGII      13,064   1,241   1,000    626   79
1             AMPHIBIA       3,129     721   1,060    663   35
2             ANTHOZOA         293     202      26      6    0
3            ARACHNIDA          91      62      88     68    9
4           ASTEROIDEA           0       0       0      1    0
5                 AVES       8,460     798     460    223  159
6             BIVALVIA         339      60      68     83   32
7         BRANCHIOPODA           1      22      13      8    0
8   CEPHALASPIDOMORPHI          22       2       4      2    1
9          CEPHALOPODA         324       2       2      1    0
10           CHILOPODA           1       1       5      3    0
11      CHONDRICHTHYES         534     180     124     89    0
12          CLITELLATA          74       8      13      6    2
13          COLLEMBOLA           0       2       0      2    0
14           DIPLOPODA          52      15      32     35    3
15          ECHINOIDEA           0       0       0      0    0
16              ENOPLA           1       1       1      1    1
17          GASTROPODA       2,668     980     526    617  267
18         HEXANAUPLIA           0      24       0      1    1
19       HOLOTHUROIDEA         111       9       7      0    0
20            HYDROZOA           8       2       2      1    0
21             INSECTA       5,841     850     741    368   63
22        MALACOSTRACA       1,199     309     161    141    7
23            MAMMALIA       3,324     555     546    226   85
24         MAXILLOPODA           0      47       0      6    1
25         MEROSTOMATA           0       1       1      0    0
26      MONOPLACOPHORA           1       0       0      0    0
27              MYXINI          35       6       2      1    0
28           OSTRACODA           0       9       0      2    2
29          POLYCHAETA           0       0       0      1    0
30      POLYPLACOPHORA           0       0       1      0    0
31            REPTILIA       5,715     561     658    368   32
32       SARCOPTERYGII           4       1       1      1    0
33         TURBELLARIA           0       0       0      0    1
34      UDEONYCHOPHORA           0       4       2      3    0
35        PHAEOPHYCEAE           0       1       1      4    0
36      AGARICOMYCETES         154     113      60     12    0
37     ARTHONIOMYCETES           0       0       3      0    0
38     DOTHIDEOMYCETES           0       1       0      1    0
39      EUROTIOMYCETES           1       2       0      0    0
40    GEOGLOSSOMYCETES           0       2       0      0    0
41     LECANOROMYCETES          19      15      28     12    0
42       LEOTIOMYCETES           4       1       1      0    0
43        NOT ASSIGNED           0       1       0      0    0
44       PEZIZOMYCETES           1       3       1      1    0
45     SORDARIOMYCETES           1       1       0      2    0
46   USTILAGINOMYCETES           1       2       0      0    0
47       ANDREAEOPSIDA           0       1       1      0    0
48    ANTHOCEROTOPSIDA           0       0       2      0    0
49           BRYOPSIDA          35      33      36     24    4
50       CHAROPHYACEAE          11       0       0      0    0
51       CHLOROPHYCEAE           0       0       0      0    0
52         CYCADOPSIDA          45      74      65     53    0
53     FLORIDEOPHYCEAE           4       3       0      6    1
54        GINKGOOPSIDA           0       0       1      0    0
55          GNETOPSIDA          76       4       1      0    0
56   JUNGERMANNIOPSIDA          18      20      23     12    0
57          LILIOPSIDA       3,758   1,061   1,327    708   13
58      LYCOPODIOPSIDA          42      16      12     14    0
59       MAGNOLIOPSIDA      21,122   7,294   7,352  3,904  102
60     MARCHANTIOPSIDA           1       2       3      2    0
61           PINOPSIDA         298      80      96     29    0
62      POLYPODIOPSIDA         265      84      88     66    2
63     POLYTRICHOPSIDA           0       0       0      0    0
64        SPHAGNOPSIDA           1       2       2      1    0
65        TAKAKIOPSIDA           0       1       0      0    0
66         ULVOPHYCEAE           0       0       0      0    0
67               Total      71,148  15,492  14,647  8,404  902