<a href="https://colab.research.google.com/github/lcmortech/data_science/blob/main/other_projects/westnile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **West Nile Virus - An NYC Timeline**

This will be an exploratory analysis on the west nile virus and its impact on the mosquito population of NYC.This will be used to gauge possible impacts on the environment over time, as well as any lasting impacts on the human population. Additionally, data gathered will be used to suggest possible strategies and solutions to dealing with the issue.

In [77]:
# import pandas

import pandas as pd

## **Adding Dataset**

The sources for the datasets were taken from:

https://www.cdc.gov/westnile/statsmaps/current-season-data.html

https://www.cdc.gov/westnile/statsmaps/historic-data.html

Cumulative Data for 1999-2022 (ArboNET)

Explore Human Data for 1999-2022  (ArboNET)

Other Sources:
https://guides.newman.baruch.cuny.edu/nyc_data

https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt

https://www.nyc.gov/site/doh/health/health-topics/west-nile-virus.page

https://www.health.ny.gov/diseases/west_nile_virus/

In [78]:
#read csvs into notebook

df1 = pd.read_csv('https://raw.githubusercontent.com/lcmortech/data_science/main/westnile-demog-1999-2022.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/lcmortech/data_science/main/westnile-human-avg-1999-2023.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/lcmortech/data_science/main/westnile-case-reports-by-state-and-year.csv')
df4 = pd.read_csv('https://raw.githubusercontent.com/lcmortech/data_science/main/westnile-illness-onset-1999-2022.csv')
df5 = pd.read_csv('https://raw.githubusercontent.com/lcmortech/data_science/main/westnile-illness-onset-by-month-1999-2022.csv')
df6 = pd.read_csv('https://raw.githubusercontent.com/lcmortech/data_science/main/westnile-pop-by-residence-1999-2022%20.csv')

## **Analyzing the Raw Data**

In [79]:
df1.head(7)

# It appears as though the risk of infection increases by age, and appears to be higher in males than females

     Age   Male  Female
0    <18   3.89    2.69
1  18-29   3.95    3.36
2  30-39   5.95    5.21
3  40-49   9.15    7.83
4  50-59  11.23    8.51
5  60-69  10.28    6.69
6    70+  12.62    8.50

In [80]:
df2.head()

,Type,Year,County,Population,Incidence,Legend
0,Neuroinvasive disease cases,1999-2022,1001,55229,0.53,0.38 to 1.09
1,Neuroinvasive disease cases,1999-2022,1003,186579,0.40,0.38 to 1.09
2,Neuroinvasive disease cases,1999-2022,1005,27344,0.15,0.01 to 0.16
3,Neuroinvasive disease cases,1999-2022,1007,22736,0.37,0.17 to 0.37
4,Neuroinvasive disease cases,1999-2022,1011,10680,0.39,0.38 to 1.09

In [81]:
df2.tail()

,Type,Year,County,Population,Incidence,Legend
2065,Neuroinvasive disease cases,1999-2022,56039,21422,0.19,0.17 to 0.37
2066,Neuroinvasive disease cases,1999-2022,56041,20901,0.40,0.38 to 1.09
2067,Neuroinvasive disease cases,1999-2022,56043,8451,2.47,>1.10
2068,Neuroinvasive disease cases,1999-2022,56045,7142,2.33,>1.10
2069,Neuroinvasive disease cases,1999-2022,72127,386927,0.01,0.01 to 0.16

In [82]:
df3.head()

# What can be pulled from this
# We specifically want data for NY, and possibly specifically NYC
# NY Data - 34 	All disease cases 	1999-2022 	NY 	1126 	>50

                Type       Year State  Reported Cases Legend categories
0  All disease cases  1999-2022    AK               3            1 to 6
1  All disease cases  1999-2022    AL             391               >50
2  All disease cases  1999-2022    AR             365               >50
3  All disease cases  1999-2022    AZ            3707               >50
4  All disease cases  1999-2022    CA            7597               >50

In [83]:
df4.head(50)

# The amount of cases appears to fluctuate by year, but has increased overall since 1999.
# change to df5.tail(24) for all rows

    Year  Reported Cases
0   1999              62
1   2000              21
2   2001              66
3   2002            4156
4   2003            9862
5   2004            2539
6   2005            3000
7   2006            4269
8   2007            3630
9   2008            1356
10  2009             720
11  2010            1021
12  2011             712
13  2012            5674
14  2013            2469
15  2014            2205
16  2015            2175
17  2016            2149
18  2017            2097
19  2018            2647
20  2019             971
21  2020             731
22  2021            2911
23  2022            1126

In [84]:
df5.head(50)

                 Type       Year Month  Reported Cases
0   All disease cases  1999-2022   Jan              32
1   All disease cases  1999-2022   Feb              18
2   All disease cases  1999-2022   Mar              32
3   All disease cases  1999-2022   Apr              54
4   All disease cases  1999-2022   May             233
5   All disease cases  1999-2022   Jun            1210
6   All disease cases  1999-2022   Jul            8893
7   All disease cases  1999-2022   Aug           25735
8   All disease cases  1999-2022   Sep           16217
9   All disease cases  1999-2022   Oct            3448
10  All disease cases  1999-2022   Nov             573
11  All disease cases  1999-2022   Dec             122

In [85]:
df6.head(10)

,Type,Year,County,Population,Incidence,Legend
0,Neuroinvasive disease cases,1999-2022,1001,55229,0.53,0.38 to 1.09
1,Neuroinvasive disease cases,1999-2022,1003,186579,0.40,0.38 to 1.09
2,Neuroinvasive disease cases,1999-2022,1005,27344,0.15,0.01 to 0.16
3,Neuroinvasive disease cases,1999-2022,1007,22736,0.37,0.17 to 0.37
4,Neuroinvasive disease cases,1999-2022,1011,10680,0.39,0.38 to 1.09
5,Neuroinvasive disease cases,1999-2022,1013,20867,0.20,0.17 to 0.37
6,Neuroinvasive disease cases,1999-2022,1015,117767,0.11,0.01 to 0.16
7,Neuroinvasive disease cases,1999-2022,1017,34016,0.24,0.17 to 0.37
8,Neuroinvasive disease cases,1999-2022,1021,43682,0.29,0.17 to 0.37
9,Neuroinvasive disease cases,1999-2022,1029,14928,0.28,0.17 to 0.37

In [86]:
df6.tail(10)

,Type,Year,County,Population,Incidence,Legend
2060,Neuroinvasive disease cases,1999-2022,56025,76431,0.87,0.38 to 1.09
2061,Neuroinvasive disease cases,1999-2022,56027,2485,1.68,>1.10
2062,Neuroinvasive disease cases,1999-2022,56029,28462,1.02,0.38 to 1.09
2063,Neuroinvasive disease cases,1999-2022,56031,8695,7.67,>1.10
2064,Neuroinvasive disease cases,1999-2022,56033,29257,1.00,0.38 to 1.09
2065,Neuroinvasive disease cases,1999-2022,56039,21422,0.19,0.17 to 0.37
2066,Neuroinvasive disease cases,1999-2022,56041,20901,0.40,0.38 to 1.09
2067,Neuroinvasive disease cases,1999-2022,56043,8451,2.47,>1.10
2068,Neuroinvasive disease cases,1999-2022,56045,7142,2.33,>1.10
2069,Neuroinvasive disease cases,1999-2022,72127,386927,0.01,0.01 to 0.16

## **Basic Analysis for Each Data Frame**

In [87]:
df1.columns

Index(['Age', 'Male', 'Female'], dtype='object')

In [88]:
df1.shape

(7, 3)

In [89]:
df1.dtypes

Age        object
Male      float64
Female    float64
dtype: object

In [90]:
df2.columns

Index(['Type', 'Year', 'County', 'Population', 'Incidence', 'Legend'], dtype='object')

In [91]:
df2.dtypes

Type           object
Year           object
County          int64
Population      int64
Incidence     float64
Legend         object
dtype: object

In [92]:
df2.shape

(2070, 6)

In [93]:
df3.columns

Index(['Type', 'Year', 'State', 'Reported Cases', 'Legend categories'], dtype='object')

In [94]:
df3.shape

(52, 5)

In [95]:
df3.dtypes

Type                 object
Year                 object
State                object
Reported Cases        int64
Legend categories    object
dtype: object

In [96]:
df4.columns

Index(['Year', 'Reported Cases'], dtype='object')

In [97]:
df4.shape

(24, 2)

In [98]:
df4.dtypes

Year              int64
Reported Cases    int64
dtype: object

In [99]:
df5.columns

Index(['Type', 'Year', 'Month', 'Reported Cases'], dtype='object')

In [100]:
df5.shape

(12, 4)

In [101]:
df5.dtypes

Type              object
Year              object
Month             object
Reported Cases     int64
dtype: object

In [102]:
df6.columns

Index(['Type', 'Year', 'County', 'Population', 'Incidence', 'Legend'], dtype='object')

In [103]:
df6.shape

(2070, 6)

In [104]:
df6.dtypes

Type           object
Year           object
County          int64
Population      int64
Incidence     float64
Legend         object
dtype: object

## **Processing the Data**

**Methods needed**

df.isna - looks for null values

*   df.isna - looks for null values
*   fillna - replaces null values
* drop_duplicates - drops duplicate data
* loc - locates data ("select" in sql)


df.fillna - replaces null values
df.drop_duplicates - drops duplicate data
df.loc - locates data ("select" in sql)

In [105]:
df1.isna()

     Age   Male  Female
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False

In [106]:
df2.isna()

       Type   Year  County  Population  Incidence  Legend
0     False  False   False       False      False   False
1     False  False   False       False      False   False
2     False  False   False       False      False   False
3     False  False   False       False      False   False
4     False  False   False       False      False   False
...     ...    ...     ...         ...        ...     ...
2065  False  False   False       False      False   False
2066  False  False   False       False      False   False
2067  False  False   False       False      False   False
2068  False  False   False       False      False   False
2069  False  False   False       False      False   False

[2070 rows x 6 columns]

In [107]:
df3.isna()

     Type   Year  State  Reported Cases  Legend categories
0   False  False  False           False              False
1   False  False  False           False              False
2   False  False  False           False              False
3   False  False  False           False              False
4   False  False  False           False              False
5   False  False  False           False              False
6   False  False  False           False              False
7   False  False  False           False              False
8   False  False  False           False              False
9   False  False  False           False              False
10  False  False  False           False              False
11  False  False  False           False              False
12  False  False  False           False              False
13  False  False  False           False              False
14  False  False  False           False              False
15  False  False  False           False              False
16  False  False  False           False              False
17  False  False  False           False              False
18  False  False  False           False              False
19  False  False  False           False              False
20  False  False  False           False              False
21  False  False  False           False              False
22  False  False  False           False              False
23  False  False  False           False              False
24  False  False  False           False              False
25  False  False  False           False              False
26  False  False  False           False              False
27  False  False  False           False              False
28  False  False  False           False              False
29  False  False  False           False              False
30  False  False  False           False              False
31  False  False  False           False              False
32  False  False  False           False              False
33  False  False  False           False              False
34  False  False  False           False              False
35  False  False  False           False              False
36  False  False  False           False              False
37  False  False  False           False              False
38  False  False  False           False              False
39  False  False  False           False              False
40  False  False  False           False              False
41  False  False  False           False              False
42  False  False  False           False              False
43  False  False  False           False              False
44  False  False  False           False              False
45  False  False  False           False              False
46  False  False  False           False              False
47  False  False  False           False              False
48  False  False  False           False              False
49  False  False  False           False              False
50  False  False  False           False              False
51  False  False  False           False              False

In [108]:
df4.isna()

     Year  Reported Cases
0   False           False
1   False           False
2   False           False
3   False           False
4   False           False
5   False           False
6   False           False
7   False           False
8   False           False
9   False           False
10  False           False
11  False           False
12  False           False
13  False           False
14  False           False
15  False           False
16  False           False
17  False           False
18  False           False
19  False           False
20  False           False
21  False           False
22  False           False
23  False           False

In [109]:
df5.isna()

     Type   Year  Month  Reported Cases
0   False  False  False           False
1   False  False  False           False
2   False  False  False           False
3   False  False  False           False
4   False  False  False           False
5   False  False  False           False
6   False  False  False           False
7   False  False  False           False
8   False  False  False           False
9   False  False  False           False
10  False  False  False           False
11  False  False  False           False

In [110]:
df6.isna()

       Type   Year  County  Population  Incidence  Legend
0     False  False   False       False      False   False
1     False  False   False       False      False   False
2     False  False   False       False      False   False
3     False  False   False       False      False   False
4     False  False   False       False      False   False
...     ...    ...     ...         ...        ...     ...
2065  False  False   False       False      False   False
2066  False  False   False       False      False   False
2067  False  False   False       False      False   False
2068  False  False   False       False      False   False
2069  False  False   False       False      False   False

[2070 rows x 6 columns]

## **Conclusion**

* Upon checking, there doesn't appear to be any null values in any of the dataframes.
* Some of the dataframes can be joined by similar columns
* NYC Counties https://guides.newman.baruch.cuny.edu/nyc_data ,  
https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt
needed for dataframe 2 and 6:

    * The Bronx is Bronx County (ANSI / FIPS 36005)
    * Brooklyn is Kings County (ANSI / FIPS 36047)
    * Manhattan is New York County (ANSI / FIPS 36061)
    * Queens is Queens County (ANSI / FIPS 36081)
    * Staten Island is Richmond County (ANSI / FIPS 36085)

In [111]:
# Using df.loc and df.isin() to find info on the given counties:

df2.isin(['36005']).any()
df2.isin(['36047']).any()
df2.isin(['36061']).any()
df2.isin(['36081']).any()
df2.isin(['36085']).any()

Type          False
Year          False
County        False
Population    False
Incidence     False
Legend        False
dtype: bool

In [112]:
# Using df.loc and df.isin() to find info on the given counties:

df6.isin(['36005']).any()
df6.isin(['36047']).any()
df6.isin(['36061']).any()
df6.isin(['36081']).any()
df6.isin(['36085']).any()

# Unable to find counties

Type          False
Year          False
County        False
Population    False
Incidence     False
Legend        False
dtype: bool

In [113]:
df2.loc[:,'County']

0        1001
1        1003
2        1005
3        1007
4        1011
        ...
2065    56039
2066    56041
2067    56043
2068    56045
2069    72127
Name: County, Length: 2070, dtype: int64

In [114]:
df6.loc[:,'County']

0        1001
1        1003
2        1005
3        1007
4        1011
        ...
2065    56039
2066    56041
2067    56043
2068    56045
2069    72127
Name: County, Length: 2070, dtype: int64