<a href="https://colab.research.google.com/github/rg326/data_science/blob/main/learning/learn_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas Tutorial from Rob Mulla**

### **Importing**

In [1]:
# Import Pandas

import pandas as pd
import numpy as np

### **Series**

In [2]:
transport_data = ['Boat', 'Car', 'Bike', 'Truck']

myseries_1 = pd.Series(transport_data)

In [3]:
print(myseries_1)

0     Boat
1      Car
2     Bike
3    Truck
dtype: object

In [4]:
mydata = [1,2,3,4,5]
myseries_2 = pd.Series(mydata)
print(myseries_2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### **Dataframes**