<a href="https://colab.research.google.com/github/rg326/data_science/blob/main/learning/w3schools_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Introduction**

## **Load Pandas**

In [1]:
# Load a CSV file into a Pandas DataFrame:

import pandas as pd

#df = pd.read_csv('data.csv')

#print(df.to_string())

## **What Is Pandas?**

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

## **Why Use Pandas?**

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

## **What Can Pandas Do?**

Pandas gives you answers about the data. Like:

* Is there a correlation between two or more columns?
* What is average value?
* Max value?
* Min value?

Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

## **Where is the Pandas Codebase?**

The source code for Pandas is located at this github repository https://github.com/pandas-dev/pandas

**github:** enables many people to work on the same codebase.

# **Pandas Getting Started**

## **Installation of Pandas**

If you have Python and PIP already installed on a system, then installation of Pandas is very easy.

Install it using this command:

In [2]:
 #C:\Users\Your Name>pip install pandas

 # If this command fails, then use a python distribution that already has Pandas installed like, Anaconda, Spyder etc.

## **Import Pandas**

Once Pandas is installed, import it in your applications by adding the import keyword:

In [3]:
import pandas

# Now Pandas is imported and ready to use.

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## **Pandas as pd**

Pandas is usually imported under the pd alias.

alias: In Python alias are an alternate name for referring to the same thing.

In [4]:
# Create an alias with the as keyword while importing:

import pandas as pd

# Now the Pandas package can be referred to as pd instead of pandas.

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## **Checking Pandas Version**

In [5]:
# The version string is stored under __version__ attribute.

print(pd.__version__)

1.5.3

# **Pandas Series**

## **What is a Series?**

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [6]:
# Create a simple Pandas Series from a list:

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

## **Labels**

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [7]:
# Return the first value of the Series:

print(myvar[0])

1

## **Create Labels**

With the "index" argument, you can name your own labels.

In [8]:
# Create your own labels:

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

# When you have created labels, you can access an item by referring to the label.

# Return the value of "y":

print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

## **Key/Value Objects as Series**

You can also use a key/value object, like a dictionary, when creating a Series.

In [9]:
# Create a simple Pandas Series from a dictionary:

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

# Note: The keys of the dictionary become the labels.

day1    420
day2    380
day3    390
dtype: int64

In [10]:
# To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

# Create a Series using only data from "day1" and "day2":

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

## **DataFrames**

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [11]:
# Create a DataFrame from two Series:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45


## **Locate Row**

As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [12]:
# Return row 0:

#refer to the row index:
print(myvar.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [13]:
# Return row 0 and 1:

#use a list of indexes:
print(myvar.loc[[0, 1]])

# Note: When using [], the result is a Pandas DataFrame.

   calories  duration
0       420        50
1       380        40

## **Named Indexes**

With the index argument, you can name your own indexes.

In [14]:
# Add a list of names to give each row a name:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## **Locate Named Indexes**

Use the named index in the loc attribute to return the specified row(s).

In [15]:
# Return "day2":

#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

## **Load Files Into a DataFrame**

If your data sets are stored in a file, Pandas can load them into a DataFrame.

In [16]:
# Load a comma separated file (CSV file) into a DataFrame:

#df = pd.read_csv('data.csv')

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

# **Pandas Read CSV**

A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In our examples we will be using a CSV file called 'data.csv'.

Download data.csv. or Open data.csv

In [17]:
# Load the CSV into a DataFrame:

# df = pd.read_csv('data.csv')

print(df.to_string())

# use to_string() to print the entire DataFrame.

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [18]:
# If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:

# Print the DataFrame without the to_string() method:

# df = pd.read_csv('data.csv')

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## **max_rows**

The number of rows returned is defined in Pandas option settings.

You can check your system's maximum rows with the pd.options.display.max_rows statement.

In [19]:
# Check the number of maximum returned rows:

# print(pd.options.display.max_rows)

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

You can change the maximum rows number with the same statement.

In [20]:
# Increase the maximum number of rows to display the entire DataFrame:

pd.options.display.max_rows = 9999

#df = pd.read_csv('data.csv')

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

# **Pandas Read JSON**

## **Read JSON**

Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

Open data.json.

In [21]:
# Load the JSON file into a DataFrame:

#df = pd.read_json('data.json')

print(df.to_string())

# Tip: use to_string() to print the entire DataFrame.

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## **Dictionary as JSON**

JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

In [22]:
# If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

# Load a Python Dictionary into a DataFrame:

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

# **Pandas - Analyzing DataFrames**

## **Viewing the Data**

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [23]:
# Get a quick overview by printing the first 10 rows of the DataFrame:

# df = pd.read_csv('data.csv')

print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [24]:
# In our examples we will be using a CSV file called 'data.csv'.

#  data.csv, or open data.csv in your browser.

# Get a quick overview by printing the first 10 rows of the DataFrame:


# df = pd.read_csv('data.csv')

print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In our examples we will be using a CSV file called 'data.csv'.

Download data.csv, or open data.csv in your browser.

In [25]:
# Note: if the number of rows is not specified, the head() method will return the top 5 rows.

# Print the first 5 rows of the DataFrame:

# df = pd.read_csv('data.csv')

print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [26]:
# Print the last 5 rows of the DataFrame:

print(df.tail())

   Duration  Pulse  Maxpulse  Calories
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

## **Info About the Data**

The DataFrames object has a method called info(), that gives you more information about the data set.

In [27]:
# Print information about the data:

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes
None

## **Result Explained**

The result tells us there are 169 rows and 4 columns

And the name of each column, with the data type

## **Null Values**

The info() method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 164 of 169 Non-Null values in the "Calories" column.

Which means that there are 5 rows with no value at all, in the "Calories" column, for whatever reason.

Empty values, or Null values, can be bad when analyzing data, and you should consider removing rows with empty values. This is a step towards what is called cleaning data, and you will learn more about that in the next chapters.

# **Pandas - Cleaning Data**

## **Data Cleaning**

Data cleaning means fixing bad data in your data set.

Bad data could be:

  Empty cells
  Data in wrong format
  Wrong data
  Duplicates

In this tutorial you will learn how to deal with all of them.

## **Our Data Set**

In the next chapters we will use this data set:

The data set contains some empty cells ("Date" in row 22, and "Calories" in row 18 and 28).

The data set contains wrong format ("Date" in row 26).

The data set contains wrong data ("Duration" in row 7).

The data set contains duplicates (row 11 and 12).

# **Pandas - Cleaning Empty Cells**

## **Empty Cells**

Empty cells can potentially give you a wrong result when you analyze data.

## **Remove Rows**

One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [28]:
# Return a new Data Frame with no empty cells:

new_df = df.dropna()

print(new_df.to_string())

# By default, the dropna() method returns a new DataFrame, and will not change the original.

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [29]:
# If you want to change the original DataFrame, use the inplace = True argument:

# Remove all rows with NULL values:

df.dropna(inplace = True)

print(df.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

## **Replace Empty Values**

Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

## **Replace Only For Specified Columns**

The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [30]:
# Replace NULL values with the number 130:

# df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)

## **Replace Using Mean, Median, or Mode**

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [31]:
# Mean = the average value (the sum of all values divided by number of values).

# Calculate the MEAN, and replace any empty values with it:

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)

In [32]:
# Median = the value in the middle, after you have sorted all values ascending.

# Calculate the MEDIAN, and replace any empty values with it:

x = df["Calories"].median()

df["Calories"].fillna(x, inplace = True)

In [33]:
# Mode = the value that appears most frequently.

# Calculate the MODE, and replace any empty values with it:

x = df["Calories"].median()

df["Calories"].fillna(x, inplace = True)

# **Pandas - Cleaning Data of Wrong Format**

## **Data of Wrong Format**

Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

## **Convert Into a Correct Format**

In our Data Frame, we have two cells with the wrong format. Check out row 22 and 26, the 'Date' column should be a string that represents a date:

In [34]:
# Let's try to convert all cells in the 'Date' column into dates.

# Pandas has a to_datetime() method for this:

# Convert to date:

# df = pd.read_csv('data.csv')

# df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

# Result:

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

As you can see from the result, the date in row 26 was fixed, but the empty date in row 22 got a NaT (Not a Time) value, in other words an empty value. One way to deal with empty values is simply removing the entire row.

## **Removing Rows**

The result from the converting in the example above gave us a NaT value, which can be handled as a NULL value, and we can remove the row by using the dropna() method.

In [35]:
# Remove rows with a NULL value in the "Date" column:

# df.dropna(subset=['Date'], inplace = True)

# **Pandas - Fixing Wrong Data**

## **Wrong Data**

"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

Sometimes you can spot wrong data by looking at the data set, because you have an expectation of what it should be.

If you take a look at our data set, you can see that in row 7, the duration is 450, but for all the other rows the duration is between 30 and 60.

It doesn't have to be wrong, but taking in consideration that this is the data set of someone's workout sessions, we conclude with the fact that this person did not work out in 450 minutes.

How can we fix wrong values, like the one for "Duration" in row 7?

## **Replacing Values**

One way to fix wrong values is to replace them with something else.

In our example, it is most likely a typo, and the value should be "45" instead of "450", and we could just insert "45" in row 7:

In [36]:
# Set "Duration" = 45 in row 7:

df.loc[7, 'Duration'] = 45

For small data sets you might be able to replace the wrong data one by one, but not for big data sets.

To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

In [37]:
# Loop through all values in the "Duration" column.

# If the value is higher than 120, set it to 120:

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

## **Removing Rows**

Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

In [38]:
# Delete rows where "Duration" is higher than 120:

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

# **Pandas - Removing Duplicates**

## **Discovering Duplicates**

Duplicate rows are rows that have been registered more than one time.

By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row:

In [39]:
# Returns True for every row that is a duplicate, othwerwise False:

print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
7    False
dtype: bool